<!DOCTYPE html>
<html>
  <head>
    <title>CalculoDeGastos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <img src="../images/1530318.png" alt="" width="70px">
      <ul>
        <li>Consulta</li>
        <li>Relação</li>
        <li>Login</li>
        <li>Cadastro</li>
      </ul>
    </header>
    <main>
      <div class="logo">
        <img src="../images/fundo-inicial.png" alt="">
      </div>
    </main>
    <footer>
        <div class="imagem">
          <img src="../images/d1fc5d45fefc9eb6709f7fe29f576c6b.png" alt="">
        </div>
    </footer>
  </body>
</html>
